TZ=Europe/London
BASE_URL=http://docker-apps.bandicoot-pumpkinseed.ts.net:1337
SECRET_KEY=addf307af8e84080d862df4e31be2b62fa054ac4568b6f8385117a3d6ec7adcf
DEFAULT_ADMIN_EMAIL=wrightwells@hotmail.com
DEFAULT_ADMIN_PASSWORD=mirror
DEFAULT_ADMIN_NAME=Admin User
DEFAULT_ADMIN_USERNAME=admin
POSTGRES_DB=planka
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mirror

