DB_HOST: db
DB_PORT: 5432
DB_NAME: kutt
DB_USER: kutt
DB_PASSWORD: kuttpass
JWT_SECRET: m1rr0r00m1rr0r00
DEFAULT_DOMAIN: links.wrightwells.com
SITE_NAME: Wrightwells Links
POSTGRES_DB: kutt
POSTGRES_USER: kutt
POSTGRES_PASSWORD: kuttpass