**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!.tfvars.example
*.retry
.env
.env.*
.vscode/
.DS_Store
Thumbs.db
**/stack.env
**/.env
!**/stack.env.example
!**/.env.example
ansible/files/docker-images/**/*.tar
ansible/files/docker-images/**/*.tar.gz
ansible/files/docker-images/**/*.tgz
