PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=REPLACE_ME_PAPERLESS_DB_PASSWORD
PAPERLESS_SECRET_KEY=REPLACE_ME_PAPERLESS_SECRET_KEY
PAPERLESS_URL=http://{{ services_ip }}:8000
PAPERLESS_TIME_ZONE={{ timezone }}
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=REPLACE_ME_PAPERLESS_ADMIN_PASSWORD
PAPERLESS_ADMIN_MAIL=replace-me@example.com
