SERVICE=ai
TS_AUTHKEY=tskey-auth-kGYCHYZAz221CNTRL-XTNReEaxoKc9TeVi3yLqKcSGbfJjQhn8B
TS_CERT_DOMAIN=ai.tailf5f423.ts.net
TZ=Europe/London
OLLAMA_HOST=0.0.0.0:11434
OLLAMA_BASE_URL=http://ollama:11434
WEBUI_AUTH=True
WEBUI_ADMIN_EMAIL=wrightwells@hotmail.com
WEBUI_ADMIN_PASSWORD=m1rr0r00
