FROM python:3.11-slim AS build

RUN apt-get update \
  && apt-get install --no-install-recommends -y wget ca-certificates git libgl1 libglib2.0-0 \
  && rm -rf /var/lib/apt/lists/*

WORKDIR /yolov9

RUN --mount=type=cache,target=/downloads set -eux; \
  wget --tries=20 --waitretry=5 --timeout=60 -c \
    -O /downloads/yolov9.tar.gz \
    https://github.com/WongKinYiu/yolov9/archive/refs/heads/main.tar.gz; \
  tar -xzf /downloads/yolov9.tar.gz --strip-components=1

RUN --mount=type=cache,target=/root/.cache/pip \
  python -m pip install --upgrade pip setuptools wheel

RUN --mount=type=cache,target=/downloads set -eux; \
  wget --tries=20 --waitretry=5 --timeout=60 -c \
    -O /downloads/torch-2.2.2+cpu-cp311-cp311-linux_x86_64.whl \
    https://download.pytorch.org/whl/cpu/torch-2.2.2%2Bcpu-cp311-cp311-linux_x86_64.whl; \
  wget --tries=20 --waitretry=5 --timeout=60 -c \
    -O /downloads/torchvision-0.17.2+cpu-cp311-cp311-linux_x86_64.whl \
    https://download.pytorch.org/whl/cpu/torchvision-0.17.2%2Bcpu-cp311-cp311-linux_x86_64.whl; \
  python -m pip install \
  --retries 10 \
  --timeout 180 \
  /downloads/torch-2.2.2+cpu-cp311-cp311-linux_x86_64.whl \
  /downloads/torchvision-0.17.2+cpu-cp311-cp311-linux_x86_64.whl

RUN --mount=type=cache,target=/root/.cache/pip \
  python -m pip install \
  --retries 10 \
  --timeout 180 \
  gitpython \
  ipython \
  matplotlib \
  'numpy<2' \
  opencv-python-headless \
  pillow \
  psutil \
  pyyaml \
  requests \
  scipy \
  thop \
  tqdm \
  tensorboard \
  pandas \
  seaborn \
  onnx==1.16.2 \
  onnxruntime \
  onnx-simplifier==0.4.* \
  onnxscript

ARG MODEL_SIZE={{ frigate_yolo_model_size }}
ARG IMG_SIZE={{ frigate_yolo_model_image_size }}

RUN --mount=type=cache,target=/downloads set -eux; \
  wget --tries=20 --waitretry=5 --timeout=60 -c \
    -O /downloads/yolov9-${MODEL_SIZE}-converted.pt \
    https://github.com/WongKinYiu/yolov9/releases/download/v0.1/yolov9-${MODEL_SIZE}-converted.pt; \
  cp /downloads/yolov9-${MODEL_SIZE}-converted.pt ./yolov9-${MODEL_SIZE}.pt

RUN sed -i "s/ckpt = torch.load(attempt_download(w), map_location='cpu')/ckpt = torch.load(attempt_download(w), map_location='cpu', weights_only=False)/g" models/experimental.py

RUN python3 export.py \
  --weights ./yolov9-${MODEL_SIZE}.pt \
  --imgsz ${IMG_SIZE} \
  --simplify \
  --include onnx

FROM scratch
ARG MODEL_SIZE={{ frigate_yolo_model_size }}
COPY --from=build /yolov9/yolov9-${MODEL_SIZE}.onnx /yolo.onnx
