POSTGRES_PASSWORD=change_this_to_a_long_random_password

SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_HOST=postgres
SEMAPHORE_DB_PORT=5432
SEMAPHORE_DB=semaphore
SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS=change_this_to_the_same_value_as_POSTGRES_PASSWORD
SEMAPHORE_DB_OPTIONS={"sslmode":"disable"}

SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_PASSWORD=change_this_admin_password
SEMAPHORE_ADMIN_NAME=Richard Wrightwells
SEMAPHORE_ADMIN_EMAIL=admin@example.local
SEMAPHORE_ACCESS_KEY_ENCRYPTION=replace_with_generated_base64_key
