DATABASE_USER=teslamate
DATABASE_PASS=
DATABASE_NAME=teslamate
DATABASE_HOST=
MQTT_HOST=
MQTT_USERNAME=
MQTT_PASSWORD=
ENCRYPTION_KEY=
POSTGRES_USER=teslamate
POSTGRES_PASSWORD=
POSTGRES_DB=teslamate
TZ=Europe/London