POSTGRES_DB=blinko
POSTGRES_USER=blinko
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://blinko:<password>@blinko-db:5432/blinko
NEXT_PUBLIC_APP_URL=
TZ={{ timezone }}
OLLAMA_BASE_URL=http://{{ ai_gpu_ip }}:11434
OLLAMA_MODEL=llama3:8b
