[defaults]
inventory = inventories/production/hosts.ini
roles_path = roles
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
vault_password_file = /root/.config/ansible/homelab-vault-pass.txt

[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
