TZ={{ homelab_site.timezone }}
SERVICE=webodm
WO_HOST={{ webodm_host }}
WO_PORT={{ webodm_port }}
WO_MEDIA_DIR=/mnt/appdata/webodm/media
WO_DB_DIR=/mnt/appdata/webodm/db
WO_NODE_DIR=/mnt/appdata/webodm/node
WO_SSL=NO
WO_SSL_KEY=
WO_SSL_CERT=
WO_SSL_INSECURE_PORT_REDIRECT=80
WO_DEBUG=NO
WO_DEV=NO
WO_DEV_WATCH_PLUGINS=
WO_BROKER=redis://broker
WO_DEFAULT_NODES=1
WO_SETTINGS=
WO_SECRET_KEY={{ webodm_secret_key }}
WEB_CONCURRENCY={{ webodm_web_concurrency }}
