OWNCLOUD_VERSION=latest
OWNCLOUD_DOMAIN={{ services_ip }}
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_PASSWORD=password
MYSQL_DATABASE=owncloud
MYSQL_USER=owncloud
REDIS_PASSWORD=password
