OWNCLOUD_VERSION=10.16.1
OWNCLOUD_DOMAIN=10.10.20.200:9090
ADMIN_USERNAME=admin
ADMIN_PASSWORD=REPLACE_ME_OWNCLOUD_ADMIN_PASSWORD
MYSQL_ROOT_PASSWORD=REPLACE_ME_OWNCLOUD_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=owncloud
MYSQL_USER=owncloud
MYSQL_PASSWORD=REPLACE_ME_OWNCLOUD_MYSQL_PASSWORD
REDIS_PASSWORD=REPLACE_ME_OWNCLOUD_REDIS_PASSWORD
