OWNCLOUD_VERSION=latest
OWNCLOUD_DOMAIN=10.10.20.200
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_PASSWORD=password
MYSQL_DATABASE=owncloud
MYSQL_USER=owncloud
REDIS_PASSWORD=password